asttokens
beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama 
comm 
debugpy 
decorator 
exceptiongroup 
executing 
gensim==4.4.0
idna==3.11
ipykernel 
ipython 
ipywidgets==8.1.8
jedi 
joblib==1.5.3
jupyter_client 
jupyter_core 
jupyterlab_widgets==3.0.16
matplotlib-inline 
nest_asyncio 
nltk==3.9.2
numpy==2.2.6
packaging 
pandas==2.3.3
parso 
pickleshare 
platformdirs 
prompt_toolkit 
psutil 
pure_eval 
Pygments 
python-dateutil 
pytz==2025.2
pywin32 
pyzmq 
regex==2025.11.3
requests==2.32.5
scipy==1.15.3
six @ 
smart_open==7.5.1
soupsieve==2.8.1
stack_data 
tornado 
tqdm==4.67.1
traitlets 
typing_extensions 
tzdata==2025.3
urllib3==2.6.3
wcwidth 
wget==3.2
widgetsnbextension==4.0.15
wrapt==2.1.1
